services:
  postgres:
    container_name: postgres_sql
    image: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: docker_demo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - spring-boot-net
  spring_boot_app:
    container_name: spring_docker_demo
    image: spring/docker_demo
    ports:
      - "8081:8080"
    networks:
      - spring-boot-net
    depends_on:
      - postgres

volumes:
  postgres:

networks:
  spring-boot-net:
    driver: bridge