spring:
  datasource:
    url: jdbc:postgresql://postgres_sql:5432/docker_demo_db
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        serverTimezone: Asia/Kolkata   # ? correct ? not Asia/Calcutta

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Kolkata      # ? add this line (Hibernate timezone fix)

